n8n/workflows/content_engine_pipeline.json
{
  "name": "Content Generation Pipeline",
  "nodes": [
    {
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "parameters": {
        "rule": { "interval": [{ "field": "hours", "hoursInterval": 2 }] }
      }
    },
    {
      "name": "Get Next Keywords",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "parameters": {
        "url": "={{ $env.GRAXIA_API_URL }}/api/v1/content/keywords",
        "method": "GET",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Internal-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "status", "value": "pending" },
            { "name": "limit", "value": "6" }
          ]
        }
      }
    },
    {
      "name": "Loop Over Keywords",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "parameters": { "batchSize": 1, "options": {} }
    },
    {
      "name": "Trigger Article Generation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "parameters": {
        "url": "={{ $env.GRAXIA_API_URL }}/api/v1/content/generate",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Internal-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "keyword_id": "={{ $json.id }}",
          "keyword": "={{ $json.keyword }}",
          "site": "={{ $json.site }}",
          "language": "={{ $json.language }}"
        }
      }
    },
    {
      "name": "Wait 10s (Poll Attempt 1)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "parameters": { "unit": "seconds", "amount": 10 }
    },
    {
      "name": "Check Keyword Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "parameters": {
        "url": "={{ $env.GRAXIA_API_URL }}/api/v1/content/keywords/={{ $('Loop Over Keywords').item.json.id }}",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Internal-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }]
        }
      }
    },
    {
      "name": "Is Draft Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "draft",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Send Telegram Approval Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "📝 *Draft Ready for Review*\n🌐 Site: {{ $('Loop Over Keywords').item.json.site }}\n🔑 Keyword: {{ $('Loop Over Keywords').item.json.keyword }}\n✍️ [Review in Dashboard]({{ $env.FRONTEND_URL }}/content-engine)",
        "additionalFields": { "parse_mode": "Markdown" }
      }
    },
    {
      "name": "Wait More (Still Processing)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "parameters": { "unit": "seconds", "amount": 20 }
    },
    {
      "name": "Final Status Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "parameters": {
        "url": "={{ $env.GRAXIA_API_URL }}/api/v1/content/keywords/={{ $('Loop Over Keywords').item.json.id }}",
        "method": "GET",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [{ "name": "X-Internal-Key", "value": "={{ $env.INTERNAL_API_KEY }}" }]
        }
      }
    },
    {
      "name": "Draft or Failed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "final-status-check",
              "leftValue": "={{ $json.status }}",
              "rightValue": "draft",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "name": "Send Telegram Error Alert",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🚨 *Generation Failed or Timed Out*\n🔑 Keyword: {{ $('Loop Over Keywords').item.json.keyword }}\n🌐 Site: {{ $('Loop Over Keywords').item.json.site }}\n❌ Status: {{ $json.status }}\n⚠️ Error: {{ $json.error_message || 'Check Celery worker logs' }}",
        "additionalFields": { "parse_mode": "Markdown" }
      }
    }
  ],
  "connections": {
    "Schedule Trigger":             { "main": [[{ "node": "Get Next Keywords", "type": "main", "index": 0 }]] },
    "Get Next Keywords":            { "main": [[{ "node": "Loop Over Keywords", "type": "main", "index": 0 }]] },
    "Loop Over Keywords":           { "main": [[{ "node": "Trigger Article Generation", "type": "main", "index": 0 }]] },
    "Trigger Article Generation":   { "main": [[{ "node": "Wait 10s (Poll Attempt 1)", "type": "main", "index": 0 }]] },
    "Wait 10s (Poll Attempt 1)":    { "main": [[{ "node": "Check Keyword Status", "type": "main", "index": 0 }]] },
    "Check Keyword Status":         { "main": [[{ "node": "Is Draft Ready?", "type": "main", "index": 0 }]] },
    "Is Draft Ready?": {
      "main": [
        [{ "node": "Send Telegram Approval Alert", "type": "main", "index": 0 }],
        [{ "node": "Wait More (Still Processing)", "type": "main", "index": 0 }]
      ]
    },
    "Send Telegram Approval Alert": { "main": [[{ "node": "Loop Over Keywords", "type": "main", "index": 0 }]] },
    "Wait More (Still Processing)": { "main": [[{ "node": "Final Status Check", "type": "main", "index": 0 }]] },
    "Final Status Check":           { "main": [[{ "node": "Draft or Failed?", "type": "main", "index": 0 }]] },
    "Draft or Failed?": {
      "main": [
        [{ "node": "Send Telegram Approval Alert", "type": "main", "index": 0 }],
        [{ "node": "Send Telegram Error Alert", "type": "main", "index": 0 }]
      ]
    }
  }
}
